body {
    width: 0;
    font-family: 'Lato', sans-serif;
    height: 0;
    padding: 0;
    margin: 0;
     background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
   

}

/*--width: 1365px;--*/

.imag{
    display: none;
}

.empty::before {
    content: "";
    animation: animate infinite 8s;
    font-style: oblique;
}

@keyframes animate {
    0%{
        content: "Best";
    }
    20%{
        content: "Todo";
    }
    40%{
        content: "List";
    }
    60%{
        content: "You";
    }

    80%{
        content: "Can";
    }
    100%{
        content: "Find";
    }
}


nav {
    display: flex;
    align-items: center;
    width: 41.5vw;
    height: 15vh;
    background-color: aqua;
    margin-left: 400px;
    margin-top: 90px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
   
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    
    
   

   
}




ul li:hover {
   color: whitesmoke;
}

nav img {
    width: 25%;
    height: 50%;
    margin-left: 10px;

}


ul li {
    margin-left: 45px;
    font-size: 20px;
    font-weight: bold;
    color: teal;
    text-decoration: none;
    outline: none;
    
   
    

    
}

a {
    text-decoration: none;
}

.todo input {
    padding: 2px 30px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: rgb(250, 245, 245);
    border: 2px solid teal;
    border-radius: 20px;
    outline: none;
    font-size: 17px;
    margin-top: 15px;
 

}

.todo input::placeholder {
    font-style: oblique;
    font-size: 14px;
}

.todo button {
   
    border: 0;
   
    background: none;
    
    outline: none;
    margin-left: 10px;
   position: relative;
   top: 5px;
}

.list ul li{
    color: teal;
    margin: 0;
    font-size: 18px;
   white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0px;
  list-style: none;
  position: relative;
  right: 27px;
    
}


.list {
    padding: 2px 0;
  
    display: flex;
    
    align-items: center;
    outline: none;
    font-size: 17px;
   
   
}

.list button {
   background: none;
   margin-top: 20px;
   margin-left: -3px;
   color: teal;
   outline: none;
   border: none;
}

.list ul {
    background-color: rgb(250, 245, 245);
    border: 2px solid teal;
    width: 56%;
    margin-bottom: 0;
    border-radius: 20px;
}

.todolist {
   
    width: 41.5vw;
    background: aqua;
    overflow: hidden;
    position: relative;
    top: 30px;
    left: 400px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: auto;
   
  
    
    

    
}

.todolist2 {
    margin-left: 140px;
    

}



.aboutUs {
    width: 41.5vw;
    height: 35.5vh;
    background: aqua;
    margin-left: 400px;
    margin-top: 30px;
    text-align: center;
    color: teal;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   
   
}

.aboutUs h1 {
    font-weight: bold;
   
 
}

.aboutUs p{
    text-align: justify;
    width: 39vw;
    margin-left: 18px;
    font-size: 15px;
    line-height: 1.4;
}

.about footer {
    position:relative;
    margin-left: 399px;
    margin-top: 30px;
   
}


footer {
    color: teal;
    background: aqua;
    width: 41.5vw;
    height: 15vh;
    margin-top: 60px;
    margin-left: 399px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    
}

footer h4 {
    margin-left: 160px;
    position: relative;
    top: 40px;
}


@media only screen and (max-width: 600px) {

    

 body{
    width: 0;
    font-family: 'Lato', sans-serif;
    height: 0;
    padding: 0;
    margin: 0;
   

    
 }
 .hid {
    display: none; 

}



    nav {
        display: flex;
        align-items: center;
        width: 60vw;
        height: 17vh;
        background-color: aqua;
        margin-left: 100px;
        margin-top: 70px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
       
    }
    
    nav ul {
        display: inline-block;
        text-decoration: none;
        list-style: none;
        visibility: visible;
        
      
       
    }
    
    ul li:hover {
       color: whitesmoke;
    }
    
    nav img {
        width: 20%;
        height: 50%;
        margin-left: 10px;
    
    }
    ul li {
        margin-left: 100px;
        font-size: 15px;
        font-weight: bold;
        color: teal;
        text-decoration: none;
        outline: none;
        position: relative;
        right: 10px;
       
        
    
        
    }
    
    a {
        text-decoration: none;
    }

    .todo input {
        padding: 2px 17px;
        margin-bottom: 10px;
        display: block;
        background-color: rgb(250, 245, 245);
        border: 2px solid teal;
        border-radius: 20px;
        outline: none;
        font-size: 17px;
        margin-top: 15px;
     
    
    }
    
    .todo input::placeholder {
        font-style: oblique;
        font-size: 14px;
    }
    
    .todo button {
        width: 3%;
        height: 3%;
        border: 0;
        border-radius: 20px;
        color: white;
        background-color: none;
        outline: none;
        margin-left: 10px;
    }
    
    .list ul li{
        color: teal;
        margin: 0;
        font-size: 18px;
       white-space: pre-wrap;
      word-wrap: break-word;
      padding: 0px;
      list-style: none;
      position: relative;
      right: 27px;
        
    }
    
    
    .list {
        padding: 2px 0;
      
        display: flex;
        
        align-items: center;
        outline: none;
        font-size: 17px;
       
       
    }
    
    .list button {
       background: none;
       margin-top: 20px;
       margin-left: -3px;
       color: teal;
       outline: none;
       border: none;
       
    }
    
    .list ul {
        background-color: rgb(250, 245, 245);
        border: 2px solid teal;
        width: 42.3vw;
        margin-bottom: 0;
        border-radius: 20px;
    }
    
    .todolist {
       
        width: 60vw;
        background: aqua;
        overflow: hidden;
        margin-left: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-bottom: 20px;
        padding-top: 10px;
       position: relative;
       left: 0px;
       z-index: 1;
      
        
        
    
        
    }
    
    .todolist2 {
        margin-left: 10px;
        
    
    }
    
    
    footer {
        color: teal;
        background: aqua;
        width: 60vw;
        height: 17vh;
        margin-top: 60px;
        margin-left: 100px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        
        
    }
    
    footer h4 {
        margin-left: 30px;
        position: relative;
        top: 40px;
        font-size: 14px;
    }
    
.aboutUs {
    width: 60vw;
    height: 35vh;
    background: aqua;
    margin-left: 100px;
    margin-top: 30px;
    text-align: center;
    color: teal;
   
   
}

.aboutUs h1 {
    font-weight: bold;
    font-size: 15px;
   
 
}

.aboutUs h2 {
    font-weight: bold;
    font-size: 13px;
    
   
 
}

.aboutUs p{
    text-align: justify;
    width: 54vw;
    margin-left: 16px;
    font-size: 12.6px;
    line-height: 1.2;

    padding-bottom: 10px;
    
}

.about footer {
   
    margin-left: 100px;
    margin-top: 20px;
   
}
    
.imag {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: -4px;
    right: 10px;
    margin-right: 10px;
    color: teal;
    
}

}


/*------Iphone view ----*/

@media only screen and (max-width: 450px) {
    nav {
       
        margin-left: 57px;
        margin-top: 60px;
        margin-bottom: -10px;
        display: flex;
        align-items: center;
        width: 73vw;
        height: 17vh;
        background-color: aqua;
       
       
    }

    .imag {
        display: inline-block;
        width: 60px;
        height: 20px;
        position: relative;
        top: -8px;
        right: 20px;
        margin-right: 19px;
        
    }

    nav ul {
        display: inline-block;
        text-decoration: none;
        list-style: none;
        position: relative;
        bottom: 12px;
        
        
      
       
    }


    .list ul {
        background-color: rgb(250, 245, 245);
        border: 2px solid teal;
        width: 70.3vw;
        margin-bottom: 0;
        border-radius: 20px;
        
    }

    .todo input {
        width: 57.3vw;
       
        padding: 2.5px 2.5px;
        margin-bottom: 10px;
        display: inline-block;
        background-color: rgb(250, 245, 245);
        border: 2px solid teal;
        border-radius: 20px;
        outline: none;
        font-size: 17px;
        margin-top: 15px;
        
     
    
    }

    .todolist {
        margin-left: 57px;
        padding-bottom: 50px;
        padding-top: 40px;
        width: 73vw;
       
       position: relative;
       left: 0px;
    

        
    }

   
    .todo button {
        width: 3%;
        height: 3%;
        border: 0;
        border-radius: 20px;
        color: white;
        background-color: none;
        outline: none;
        margin-left: 10px;
    }

    footer{
        margin-left: 57px;
        margin-top: 50px;
        width: 72.3vw;
        height: 17vh;
    }
    
    

.aboutUs {
    width: 72.3vw;
    height: 35vh;
    background: aqua;
    margin-left: 60px;
    margin-top: 40px;
    text-align: center;
    color: teal;
   
   
}

.aboutUs h1 {
    font-weight: bold;
    font-size: 17px;
   
 
}

.aboutUs h2 {
    font-weight: bold;
    font-size: 15px;
    
   
 
}

.aboutUs p{
    text-align: justify;
    width: 270px;
    
    margin-left: 16px;
    font-size: 12.6px;
    line-height: 1.3;
    
}

.about footer {
   
    margin-left: 60px;
    margin-top: 20px;
    width: 72.3vw;
   
}

.about header{
    margin-top: 125px;
}

.imag {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: -4px;
    right: 10px;
    margin-right: 10px;
    
}

}

@media only screen and (max-width: 376px) {
    nav {
       
        margin-left: 40px;
        margin-top: 55px;
        margin-bottom: -10px;
        
       
    }

    .todolist {
        margin-left: 40px;
        padding-bottom: 40px ;
        padding-top: 30px;
        
    }

    .todo button {
        width: 22px;
        height: 22px;
        border: 0;
        border-radius: 20px;
        color: white;
        background-color: none;
        outline: none;
        margin-left: 10px;
    }

    footer{
        margin-left: 40px;
        margin-top: 50px;
    }
    
    
.aboutUs {
    width: 300px;
    height: 240px;
    background: aqua;
    margin-left: 40px;
    margin-top: 30px;
    text-align: center;
    color: teal;
   
   
}

.about nav {
    margin-top: 75px;
    color: gold;
}

.aboutUs h1 {
    font-weight: bold;
    font-size: 17px;
   
 
}

.aboutUs h2 {
    font-weight: bold;
    font-size: 15px;
    
   
 
}

.aboutUs p{
    text-align: justify;
    width: 270px;
    
    margin-left: 16px;
    font-size: 12.4px;
    line-height: 1.5;
    
}

.about footer {
   
    margin-left: 40px;
    margin-top: 20px;
   
}

.about header{
    margin-top: 90px;
}

}


@media only screen and (max-width: 330px){

    nav {
       
        margin-left: 10px;
        margin-top: 22px;
        margin-bottom: -10px;
        
       
    }

    .todolist {
        margin-left: 10px;
        padding-bottom: 40px ;
        padding-top: 30px;
        
    }

    .todo button {
        width: 22px;
        height: 22px;
        border: 0;
        border-radius: 20px;
        color: white;
        background-color: none;
        outline: none;
        margin-left: 10px;
    }

    footer{
        margin-left: 10px;
        margin-top: 50px;
    }
    
    
.aboutUs {
    width: 300px;
    height: 240px;
    background: aqua;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    color: teal;
   
   
}

.aboutUs h1 {
    font-weight: bold;
    font-size: 17px;
   
 
}

.aboutUs h2 {
    font-weight: bold;
    font-size: 15px;
    
   
 
}

.aboutUs p{
    text-align: justify;
    width: 270px;
    
    margin-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    
}

.about footer {
   
    margin-left: 10px;
    margin-top: 20px;
   
}

.about header{
    margin-top: -30px;
}

}